<h1>Books I've read</h1>
<div class="row flex-items-xs-center">
<% @read_books.books.each do |book| %>
  <%# book %>
    <%# book.book.title %>
    <%# book.book.authors.author.name %>
    <%# book.rating %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <%= image_tag(book.book.image_url.gsub('m', 'l').gsub('col', 'com').gsub('ilages', 'images'), height: '300') %>
</div>
<% end %>
</div>
</div>
