<%= form_tag(search_path, method: :get, role: 'search') do %>
  <%= text_field_tag :term, params[:term], autofocus: true %>
  <% @media_types.each do |media_type| %>
    <label>
      <%= radio_button_tag 'media_type', media_type.name %>
      <%= media_type.name.titleize %>
    </label>
  <% end %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
