<!DOCTYPE html>
<html>
  <head>
    <title>Mediatrack</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/acc279b251.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div
  </body>
</html>
